/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */
@import url("https://fonts.googleapis.com/css?family=Jura:var(--headline-h6-font-weight),var(--headline-h1-font-weight),var(--headline-h4-font-weight)|Roboto+Mono:var(--paragraph-small-regular-font-weight),var(--paragraph-medium-link-font-weight),var(--paragraph-medium-regular-font-weight),var(--paragraph-small-bold-font-weight),400,700,var(--paragraph-medium-bold-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  min-height: 100%;
  background-color: #000;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
